@model IEnumerable<BridgesCoModels.Models.Pathing>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Path_time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Path_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order_Id.Id_Order)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Pathing">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Pathing">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Pathing">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
